<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>我的歌单【在线音乐推荐系统】</title>
    {% include '../common/css.html' %}
</head>
<body class="sticky-header left-side-collapsed" style="">
	<section>
		<div class="main-content" style="margin-left:0px;padding-top:0px">
			{% include '../common/header.html' %}
			<div id="page-wrapper">
				<div class="inner-content" align="center">
					<div class="music-left" style="float:none;">
						<div class="albums">
							{% include '../common/menu.html' %}
							<div class="col-md-3" style="width:74%;text-align: left">
                                <div class="bs-docs-example" style="color:black;">
									<div class="btn btn-danger" id="submitBtn" onclick="addPlaylist()" style="color: #fff;margin-bottom:5px">添加歌单</div>
									<table class="table table-bordered">
									    <thead >
										    <tr style="text-align: center;">
										        <th>序号</th>
										        <th>歌单名称</th>
										        <th>添加时间</th>
										        <th>操作</th>
										    </tr>
									    </thead>
									    <tbody>
                                            {% if not pageBean %}
                                                <tr><td colspan="4"><font style="color:black">暂无数据</font></td><tr>
                                            {% endif %}
                                            {% for playlist in pageBean %}
												<tr>
												    <td>{{ forloop.counter }}</td>
												    <td>{{ playlist.playlistname }}</td>
												    <td>{{ playlist.createtime }}</td>
												    <td>
									  				    <a href="/playlist/detail?playlistid={{ playlist.id }}">详情</a>
									  				    <a href="javascript:editPlaylist('{{ playlist.id }}','{{ playlist.playlistname }}')">修改</a>
									  				    <a href="javascript:doDelete({{ playlist.id }})">删除</a>
												    </td>
												</tr>
                                            {% endfor %}
									    </tbody>
									</table>
						  		</div>
								<div class="clearfix"> </div>
								<form action="/playlist/list" method="post" id="form">
                                    {% csrf_token %}
    		  				        <input type="hidden" name="page" value="{{ page }}" id="page">
		    		  			</form>
                                {% include '../common/page.html' %}
							</div>
						</div><div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
		{% include '../common/footer.html' %}
	</section>
    {% include '../common/js.html' %}
</body>
<script>
	function doDelete(id){
       layer.confirm("确认删除？",{icon:7,title:"删除"},function(index){
    	   layer.close(index);
    	   common_ajax_other("/playlist/delete","playlistid="+id+"&csrfmiddlewaretoken={{ csrf_token }}");
       });
  	}
	//添加歌单
	function addPlaylist(){
		layer.prompt({title: '请输入歌单名称', formType: 3,maxlength:255}, function(text, index){
			  common_ajax_other("/playlist/save","playlistname="+text+"&csrfmiddlewaretoken={{ csrf_token }}");
		});
	}
	//修改歌单
	function editPlaylist(playlistid,playlistname){
		layer.prompt({title: '请输入歌单名称', formType: 3,maxlength:255,value:playlistname}, function(text, index){
			  common_ajax_other("/playlist/save","playlistid="+playlistid+"&"+
                  "playlistname="+text+"&csrfmiddlewaretoken={{ csrf_token }}");
		});
	}
</script>
</html>